* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-align-center {
    text-align: center;
}

.p-50 {
    padding: 50px;
}

.p-70 {
    padding-left: 70px;
    padding-right: 70px;
}

.section {
    margin: 0 auto;
    /* width: 1140px; */
    background-color: #f0f0f0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container img {
    max-width: 100%;
}

.section.hero {  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;

    background: url(../img/dragons.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: screen, difference, lighten;
}

.section.hero
.title {
    font-family: 'Mr Dafoe', cursive;
    text-shadow: 2px 3px #000;
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.button {
    width: 125px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 50px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

.section.lyrics {
    padding-top: 50px;
    background-color: #f0f0f0;
}

.content { 
    justify-content: center;
}

.content h1 + p {
    margin-top: 50px;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.content p + p {
    margin-top: 35px;
}


.card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
    padding: 15px;
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    background-color: #770d0d;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, .15);
    border-radius: 5px;
    transition: all 0.5s ease-in;
}

.card-icon {
    transition: fill 0.5s ease-in;
    fill: #000;
    stroke: green;
    stroke-width: 1;
}

.card:hover {
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.card:hover .title {
    color: #1100ff;
}

.card:hover .card-icon {
    fill: aliceblue;
}

.card 
.title {
    transition: color 0.5s ease-in;
}

.card-img {
    height: 150px;
    width: 150px;
    padding: 10px;
}

.two-col-blocks {
    display: flex;
    flex-direction: column;
    height: 450px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    border: 2px solid #000;
}

.two-col-blocks:nth-child(even) .block-img {
    order: 1;
}

.two-col-blocks:nth-child(even) .block-text {
    order: 1;
}

.two-col-blocks > * {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
}

.block-img {
    display: flex;
    overflow: hidden;
}

.block-img > img {
    max-width: 100%;
}

.block-text {
    display: flex;
    flex-direction: column;
    padding: 35px;
    text-align: center;
    justify-content: center;
}

.content .list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content .list li.red-all::before { color: red; }
.content .list li.blue-all::before { color: blue; }

.content .list li.red::before { color: red; }
.content .list li.blue::before { color: blue; }

.content .list li::before {
    bottom: -1px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 900;
}

.content .list.check li::before {
    content: '\f00c';
}

.content .list.check-circle li::before {
    content: '\f058';
}

.one-col-blocks {
    position: sticky;
}

.img-wrapper {
    position: relative;
    display: inline-block;
    margin: 40px auto;
}

.img-wrapper.decorated::before,
.img-wrapper.decorated::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 50px;
    height: 50px;
    background: green;
}

.img-wrapper.decorated::before {
    top: -20px;
    left: -20px;
}

.img-wrapper.decorated::after {
    bottom: -20px;
    right: -20px;
}

.header {
    display: block;   
    z-index: 100; 
}

.header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #1100ff;
}

.header.fixed + .section {
    margin-top: 50px;
}

.details-menu {
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    list-style: none;
}