@media (min-width: 768px) {
    .two-col-blocks {
        flex-direction: row;
    }
    .two-col-blocks > * {
        width: 50%;
    }
    .two-col-blocks:nth-child(even) .block-img {
        order: 2;
    }
    
    .two-col-blocks:nth-child(even) .block-text {
        order: 1;
    }
}

@media (min-width: 320px) {
    .section {
        padding-top: 30px;
    }

    .block-text {
        padding: 0;
    }

    .two-col-blocks:last-child {
        margin-bottom: 0;
    }
}